[Unit]
Description=Grafana Kubernetes Port Forward
After=network-online.target docker.service
Wants=network-online.target
Requires=docker.service

[Service]
Type=simple
User=ubuntu
Environment=HOME=/home/ubuntu
Environment=KUBECONFIG=/home/ubuntu/.kube/config

ExecStart=/usr/local/bin/kubectl port-forward --namespace=kube-system --address=0.0.0.0 service/grafana 3000:3000

Restart=always
RestartSec=10

[Install]
WantedBy=multi-user.target
